<header class="jumbotron container" style="padding: 2%; border-radius: 0;">
  <div class="row">
    <div class="col-md-7">
      <h2>{{'login.title' | translate }}</h2>
    </div>
    <div class="col-md-5">
      <div class="pull-right" style="font-size: 13px;">
        <p style="font-size: 13px;">{{'login.select.language' | translate}}</p>
        <select #language (change)="useLanguage(language.value)" style="outline:none; float: right;">
          <option value="en">{{'login.button.en' | translate}}</option>
          <option value="ta">{{'login.button.ta' | translate}}</option>
          <option value="fr">{{'login.button.fr' | translate}}</option>
          <option value="zh">{{'login.button.zh' | translate}}</option>
        </select>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6"></div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label> {{ 'login.username.label' | translate }} </label>
        <input type="text" name="userName" placeholder="{{ 'login.username.placeholder' | translate }}" class="form-control">
      </div>

      <div class="form-group">
        <label> {{ 'login.password.label' | translate }} </label>
        <input type="password" name="passWord" placeholder="{{ 'login.password.placeholder' | translate }}" class="form-control">
      </div>

      <div class="form-group">
        <button class="btn btn-success"> {{'login.button.name' | translate }} </button>
      </div>

      <div class="form-group">
        <label> <a href="#" class="" style="float: left;"> {{'login.register.link' | translate}} </a> </label>
        <br />
        <label> <a href="#" class="" style="float: right;"> {{'login.forgotpassword.link' | translate}} </a> </label>
        <br />
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="useLanguage('ta')">  {{'login.button.ta' | translate}}  </button>
          <button type="button" class="btn btn-primary" (click)="useLanguage('en')"> {{'login.button.en' | translate}} </button>
          <button type="button" class="btn btn-primary" (click)="useLanguage('fr')">  {{'login.button.fr' | translate}}  </button>
          <button type="button" class="btn btn-primary" (click)="useLanguage('zh')">  {{'login.button.zh' | translate}}  </button>
        </div> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-6"></div>
  </div>
</div>
<router-outlet></router-outlet>